.features{
    background: transparent;
    position: absolute;
    bottom:-8rem;
    gap:1rem
}
.features .feature{
    width: 25rem;
    height: 10rem;
    background: var(--gray);
    padding: 1rem;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    gap:.7rem;
    position: relative;
    transition:  .2s linear;
}
.feature:hover{
  border-radius: 0rem;
  transform: translateY(-5px);
}
.feature:hover .feature_loader{
    width: 100%;
}
.feature_loader{
    background: var(--primary-color);
    height: .5rem;
    width: 0%;
    position: absolute;
    bottom: 0rem;
    left:0rem;
    transition: .2s ease-in-out;
}
.features .feature i{
    font-size: 2.7rem;
    color: var(--primary-color);
}
.feature .icon{
    width: 14rem;
    height: 5rem;
    line-height: 5.3rem;
}
.feature h2{
    color: var(--primary-color);
    font-size: 1.3rem;
    margin-bottom: .9rem;
}
.feature p{
    color:var(--text-color);
    line-height: 1.3rem;
    font-weight: 400;
    font-size: .94rem;
}