.Testimonial{
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
}

.testiment{
    display: flex;
    padding-block: 3rem;
    position: relative;
    overflow-x: hidden;
    width: 35rem;
}
.testimentcarrier{
    display: flex;
    position: relative;
    margin-left:1rem;
    column-gap:15.5rem;
    position: relative;
    transition: .3s linear;
 
}
.testimonailImage{
    background-image: url("../../assets/cleaner15.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-color: var(--secondary-color);
    
}
.testimonialCard{
    width: 33rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    text-align: center;
    align-items: center;
    padding: .8rem;
    gap:1.3rem;


}
.testimoniallCardUpper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:2rem;
  align-self: flex-start;
  margin-left: 2rem;
}
.testimoniallCardUpper .imagetext{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: left;
  row-gap: .4rem;
}
.testimoniallCardUpper .imagetext .stars{
  display: flex;
  color: var(--tetiary-color);
  gap:.2rem;
  font-size: 1.2rem;
}
.testimonialCard .image{
    position: relative;
    overflow: hidden;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 2px solid var(--tetiary-color);
  
}
.testimonialCard .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonialCard h2{
    color: var(--light-text);
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: capitalize;
}
.testimonialCard p{
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.7rem;
}
.testimonialCard .link{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    background: var(--tetiary-color);
    border-radius: 2rem 2rem 2rem 2rem;
}
.testimonialCard .link a{
    background: var(--secondary-color);
    transition:.4s linear;
    width: 4rem;
    border: 1px solid var(--gold);
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    border-radius: 50%;
    transition: 0.2s;
    font-size: 1.7rem;
    cursor: pointer;
    color: var(--white);
    box-shadow: 0px 0px 0px 0px var(--primary-color);
}
.testimonialCard .link a:hover{
    box-shadow: 0px 0px 10px 4px var(--primary-color);
    background: var(--tetiary-color);
    color: var(--secondary-color);
}
.moveleft,
.moveright{
  position: absolute;
  z-index: 111;
  top: 50%;
  background: var(--secondary-color);
  width: 4rem;
  border: 1px solid var(--tetiary-color);
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  border-radius: 50%;
  transition: 0.2s;
  font-size: 1.7rem;
  cursor: pointer;
  color: var(--white);
  box-shadow: 0px 0px 0px 0px var(--primary-color);
}
.moveleft{
  left: 0rem;
}
.moveright{
  right:0rem;
}
.moveleft:hover,
.moveright:hover{
    background: var(--tetiary-color);
    box-shadow: 0px 0px 10px 4px var(--primary-color);
}
@media (max-width: 1200px) {
  .title_small {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .testimentcarrier{

    margin-left:1.2rem;
    column-gap:26rem;
  }
}

/* @keyframes scrollImage {
    0% {
      transform: translateX(-0%);
    }
    10% {
      transform: translateX(-19%);
    }
    20% {
      transform: translateX(-39%);
    }
    30% {
      transform: translateX(-55%);
    }
    40% {
      transform: translateX(-70%);
    }
    50% {
      transform: translateX(-55%);
    }
    60% {
      transform: translateX(-39%);
    }
    70% {
      transform: translateX(-19%);
    }
    80% {
      transform: translateX(-20%);
    }
    90% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0%);
    }
  } */


   