.portfolio_heading{
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    align-items: center;
}
.portfolio{
    margin-top: 8rem;
    background: var(--light-gray);
    padding: 3rem .2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
.portfolio_heading .title{
    text-align: left;
    width: 36%;
}
.portfolio_heading .btn{
    width: 11rem;
}
.portfolio_holder{
    width: 31rem;
    position: relative;
    overflow: hidden;
     background-color: black;
    align-self: center;
}
.portfolio_container{
    width: 938%;
    min-height: 100%;
    margin-left: -1.7rem;
    transition: .3s linear;
    background-color: red;
    padding-inline: 0rem;
    gap:2rem;
    /* animation: scrollingover 2s infinite; */
}
.portfolio_card_wrapper {
  min-height: 320px; /* adjust based on your card height */
  position: relative;
}
.portfolio_holder .iconactive{
   width: 2rem;
   height: 2rem;
   font-size: 1rem;
   line-height: 2rem;
}
.portfolio_card{ 
    height: 100%;
    overflow: hidden;
    position: absolute; /* 👈 ensures cards overlap */
    width: 100%;
    min-height: 220px;  /* 👈 avoids flicker and collapse */
    background: var(--lighter-gray);
    box-shadow: var(--box-shadow);
}
.portfolio_card .person{
    position: absolute;
    top:.4rem;
    left:.8rem;
    background: var(--tetiary-color);
    padding: .6rem;
    border-radius: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    transition: .3s linear;
    cursor: pointer;
    width: 0%;
    height: 0%;
    overflow: hidden;
}
.portfolio_card .person:hover{
    background: var(--secondary-color);
    color:var(--tetiary-color)
} 
.portfolio_card .place{
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   bottom: .3rem;
   background: var(--secondary-color);
   height: 8rem;
   border-radius: .7rem .7rem 0rem 0rem;
   border-bottom: 5px solid var(--tetiary-color);
   padding: 1rem;
   text-align: left;
   color: var(--light-text);
   text-transform: capitalize;
   width: 25rem;
  left: -27rem;
   transition:.2s linear
}
.portfolio_card .place span{
  font-size: .92rem;
  font-weight: 300;

}
.portfolio_card .place span i{
    margin-right: .4rem;
    font-size: 1.2rem;
}
.portfolio_card .place p{
     font-size: 1.1rem;
     font-weight: 300;
}
.portfolio_card .fa-circle-arrow-right{
    position: absolute;
    top: 1rem;
    right:2rem;
    font-size: 2rem;
    transform: rotate(310deg);
    color: var(--tetiary-color);
}
.portfolio_card img{
    width: 100%;
    border-radius: .3rem;
}
.portfolio_card:hover .place
{
  left: 0rem;
}
.portfolio_card:hover .person{
    width:fit-content;
    height: fit-content;
}
@keyframes scrollingover {
    0% {
      transform: translateX(0px);
    }
    /* 10% {
      transform: translateX(-260px);
    }
    20% {
      transform: translateX(-510px);
    }
    30% {
      transform: translateX(-800px);
    }
    40% {
      transform: translateX(-1020px);
    }
    50% {
      transform: translateX(-1350px);
    }
    60% {
      transform: translateX(-1020px);
    }
    70% {
      transform: translateX(-800px);
    }
    80% {
      transform: translateX(-510px);
    }
    90% {
      transform: translateX(-260px);
    } */
    100% {
      transform: translateX(-4100px);
    }
  }
@media (max-width: 1168px) {
 
  }
  @media (max-width: 868px) {
  
  }
  @media (max-width: 658px) {
    .portfolio_container{
        width: 958%;
        margin-left: -1.7rem;
        transition: .3s linear;
        background-color: red;
        padding-inline: 0rem;
        gap:0rem;
    }
  }
  
